## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
n = 4
print(n)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print (type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(n))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = 'Pablo Carrivale'
print(nombre)

Pablo Carrivale

5) Crear una variable que contenga un número complejo

In [5]:
a = 8j
print(a)

8j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type (a))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
Pi = 3.1416
print (Pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var1 = 'True'
var2 = True
print(var1 , var2)

True True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print (type(var1))
print (type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
num1= 6
num2 = 8.9
print((num1 + num2))

14.9

11) Realizar una operación de suma de números complejos

In [13]:
num_c1 = 5j
num_c2 = 7j
print((num_c1 + num_c2))

12j

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
num = 14
num_c = 7j
print((num + num_c))

(14+7j)

13) Realizar una operación de multiplicación

In [15]:
a = 3
b = 5
print(a*b)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
a = 27
b = 4
print(a/b)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(a//b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print(a % b)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
A = 4
B = 6
C = 3
print(A*B + C)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
var = "Esta es " + "una variable alfanumerica"
print(var)

Esta es una variable alfanumerica

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [24]:
print ( "2" == 2 )

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [25]:
num_int = 2
num_str = "2"
num_str = str(num_int)
print( num_str, num_int)

2 2

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [26]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [29]:
a = 3
b -= 1
n = (a-b)
print(n)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [30]:
print (1<<2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [31]:
a = 2
b = '2'
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [36]:
var = 'Mi edad es :'
var1 = 28
print(var, var1)

Mi edad es : 28